<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wundermind</title>
	<link rel="stylesheet" href="basic.css" />
</head>
<body>
	<div id="wrapper">
		<section id="content" class="two-column">
			<h1>What is Wundermind?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est nec odio fringilla mollis. Integer hendrerit fringilla sem eu lacinia. Donec egestas, ligula et ornare accumsan, augue eros bibendum velit, vel lobortis diam sem ut felis. Morbi id fringilla nunc. Suspendisse risus nunc, auctor non eleifend at, gravida ac eros. Cras justo enim, sodales eget consectetur non, malesuada in dui. Curabitur condimentum ornare magna, a ullamcorper nisi vehicula eu.</p>
			<div class="actions">
				<div class="button">
					<a href="signup-1.html">Get started!</a>
				</div>
			</div>
		</section>
		<aside id="sidebar">
			<div>
				<p>Prime real estate.</p>
			</div>
		</aside>
		<div class="clear"></div>
	</div>
</body>
</html>