<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wundermind</title>
	<link rel="stylesheet" href="basic.css" />
</head>
<body>
	<div id="wrapper">
		<section id="content" class="two-column">
			<h1>What's your primary role?</h1>
			<form method="post" action="signup-3.html">
				<ul class="roles">
					<li><label><input type="radio" name="role" value="frontend" /><span>Frontend</span></label><span class="description">A focus on user interface and interaction</span></li>
					<li><label><input type="radio" name="role" value="backend" /><span>Backend</span></label><span class="description">A focus on data manipulation, storage, and retrieval</span></li>
					<li><label><input type="radio" name="role" value="sysadmin" /><span>SysAdmin</span></label><span class="description">A focus on server management and maintenence</span></li>
					<li><label><input type="radio" name="role" value="design" /><span>Deisgn</span></label><span class="description">A focus on visuals and art</span></li>
					<li><label><input type="radio" name="role" value="algorithm" /><span>Algorithm</span></label><span class="description">A focus on creating and optimizing complex data manipulators</span></li>
				</ul>
				<div class="actions">
					<input type="submit" value="Submit and continue" />
				</div>
			</form>
		</section>
		<aside id="sidebar">
			<div>
				<p>Prime real estate.</p>
			</div>
		</aside>
		<div class="clear"></div>
	</div>
</body>
</html>