<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wundermind</title>
	<link rel="stylesheet" href="basic.css" />
</head>
<body>
	<div id="wrapper">
		<section id="content" class="two-column">
			<h1>Account information</h1>
			<form method="post" action="signup-2.html">
				<label class="account">Name:<br /><input type="text" name="name" autofocus /></label>
				<label class="account">e-mail:<br /><input type="email" name="email" /></label>
				<label class="account">Password:<br /><input type="password" name="pass1" /></label>
				<label class="account">Confirm password:<br /><input type="password" name="pass2" /></label>
				<div class="actions">
					<input type="submit" value="Submit and continue" />
				</div>
			</form>
		</section>
		<aside id="sidebar">
			<div>
				<p>Prime real estate.</p>
			</div>
		</aside>
		<div class="clear"></div>
	</div>
</body>
</html>